* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to top, #34006b, rgb(0, 0, 0));
  font-family: "Nova Mono", monospace;
  height: 100vh;
  color: rgb(255, 255, 255);
}
.buttons {
  display: flex;
  gap: 4rem;
  position: relative;
  justify-content: center;
}
.btn {
  padding: 0.5rem;
  border-radius: 5px;
  border-style: none;
  font-family: inherit;
  width: 10rem;
  font-size: inherit;
  color: white;
  cursor: pointer;
}
h1 {
  font-size: 4rem;
}
p {
  font-size: 1.5rem;
}
button.active {
  cursor: pointer;
}
.btn.start {
  background-color: green;
  position: absolute;
}
.btn.last {
  background-color: red;
  position: absolute;
}
.main {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
}
.circles {
  display: flex;
  padding-top: 5.5rem;
  padding-bottom: 5.5rem;
}
header {
  gap: 2rem;
  padding-bottom: 5rem;
}
