* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to bottom left, #000000, #070066);
  font-family: "Nova Mono", monospace;
  height: 100vh;
  color: white;
  text-shadow: 0 0 10px #cafbff, 0 0 20px #cafbff, 0 0 30px #cafbff,
    0 0 40px #cafbff, 0 0 50px #cafbff, 0 0 60px #cafbff, 0 0 70px #cafbff;
}
.btn {
  padding: 0.5rem;
  background-color: hsla(0, 0%, 0%, 0.277);
  border-radius: 100%;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 0 10px #cafbff, 0 0 20px #cafbff, 0 0 30px;
  font-family: inherit;
  width: 15rem;
  font-size: inherit;
  color: white;
}
.main {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
}
.circles {
  display: flex;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
header {
  gap: 2rem;
  padding-bottom: 5rem;
}
#endButton {
  /*  display: none; */
}
