* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to bottom, rgb(39, 0, 51), rgb(20, 0, 26));
  font-family: "Nova Mono", monospace;
  height: 100vh;
  color: rgb(255, 255, 255);
}
.main {
  max-width: 1200px;
  margin: 0 auto;
}
.buttons {
  display: flex;
  position: relative;
  justify-content: center;
}
.btn {
  padding: 0.5rem;
  border-radius: 5px;
  border-style: none;
  font-family: inherit;
  width: 10rem;
  font-size: inherit;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.btn:hover {
  filter: brightness(150%);
}
h1 {
  font-size: 5rem;
}
p {
  font-size: 1.5rem;
}
button.active {
  cursor: pointer;
}
.btn.start {
  background-color: green;
}
.btn.last {
  background-color: red;
}
.btn.diff {
  color: black;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.btn.diff.easy {
  background-color: lightgreen;
}
.btn.diff.medium {
  background-color: #dbbaff;
}
.btn.diff {
  background-color: rgb(255, 157, 157);
}
.difficulty {
  padding-bottom: 5.5rem;

}
.difficulty h3 {
  padding-bottom: 1rem;
}
.diffTitle {
  padding-bottom: 3rem;
}
.selected {
  border: 3px solid #FFD700;
  box-shadow: 0px 0px 15px #FFD700;
}
.score {
  text-shadow: 0px 0px 25px #ffffff;
}
.main {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
}
.circles {
  display: flex;
  padding-top: 2.5rem;
  padding-bottom: 5.5rem;
  flex-wrap: wrap;
}
header {
  gap: 2rem;
  padding-bottom: 1.5rem;
}
